In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv("data/titanic.csv")
titanic.head()

### How do I select specific columns from a DataFrame?

In [ ]:
ages = titanic["Age"]

ages.head()

In [ ]:
# type 
type(titanic["Age"])

In [ ]:
# age
titanic["Age"].shape

In [ ]:
# To select multiple columns, use a list of column names within the selection brackets [].
age_sex = titanic[["Age", "Sex"]]

age_sex.head()

In [ ]:
# The returned data type is a pandas DataFrame:
type(titanic[["Age", "Sex"]])

In [ ]:
# The selection returned a DataFrame with 891 rows and 2 columns.
titanic[["Age", "Sex"]].shape

### How do I filter specific rows from a DataFrame?

In [ ]:
 # To select rows based on a conditional expression, use a condition inside the selection brackets [].
above_35 = titanic[titanic["Age"] > 35]

above_35.head()

In [ ]:
above_35.shape

In [ ]:
# Similar to the conditional expression, the isin() conditional function returns a True for each row the values are in the provided list.
class_23 = titanic[titanic["Pclass"].isin([2, 3])]

class_23.head()

In [ ]:
# The above is equivalent to filtering by rows for which the class is either 2 or 3 and combining the two statements with an | (or) operator:
class_23 = titanic[(titanic["Pclass"] == 2) | (titanic["Pclass"] == 3)]

class_23.head()

In [ ]:
# The notna() conditional function returns a True for each row the values are not a Null value.
age_no_na = titanic[titanic["Age"].notna()]

age_no_na.head()

### How do I select specific rows and columns from a DataFrame?

In [ ]:
adult_names = titanic.loc[titanic["Age"] > 35, "Name"]

adult_names.head()

In [ ]:
# Again, a subset of both rows and columns is made in one go and just using selection brackets [] is not sufficient anymore. 
# when specifically interested in certain rows and/or columns based on their position in the table, use the iloc operator in front of the selection brackets [].
titanic.iloc[9:25, 2:5]

In [ ]:
# When selecting specific rows and/or columns with loc or iloc, new values can be assigned to the selected data. 
titanic.iloc[0:3, 3] = "anonymous"

titanic.head()